<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="live.faceauth.example">

  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.CAMERA"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:name="live.faceauth.example.AapkaBankApplication"
      android:theme="@style/AppTheme">
    <activity
        android:name="live.faceauth.example.SplashActivity"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name="live.faceauth.example.LoginActivity"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
    <activity
        android:label="@string/aapka_bank"
        android:name="live.faceauth.example.DashboardActivity">
    </activity>
    <activity android:name="live.faceauth.example.FundsTransferActivity"
        android:label="Transfer Funds"
        android:parentActivityName="live.faceauth.example.DashboardActivity">
    </activity>
    <meta-data android:name="faceauth-api-key" android:value="INSERT_FACE_AUTH_KEY" />
    <meta-data android:name="sbi-api-key" android:value="INSERT_SBI_AUTH_KEY" />
  </application>

</manifest>